<!-- partial for the customer overview page, shows a list of customers -->

<div class="row">
  <div class="span4">
    <h2>Customer Overview</h2>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Customer name</th>
          <th>Company</th>
          <th>Email</th>
          <th>Fon</th>
          <th>Created</th>
          <th colspan="2">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="customer in customers">
          <td>{{customer.id}}</td>
          <td>{{customer.firstName}} {{customer.lastName}}</td>
          <td>{{customer.company.name}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.phone}}</td>
          <td>{{ customer.createDate | date }}</td>
          <td><a href="#/edit/{{customer.id}}"><i class="icon-pencil"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
